.tableWrapper {
	overflow-x: auto;
}

.table {
	--table-hover-color: var(--mantine-color-gray-light-hover);
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

.rowBuy {
	background-color: var(--mantine-color-green-light);
}

.rowSell {
	background-color: var(--mantine-color-red-light);
}

.rowHold {
	background-color: var(--mantine-color-default-hover);
}
