.link {
	display: flex;
	align-items: center;
	gap: var(--mantine-spacing-md);
	height: 45px;
	padding-inline: var(--mantine-spacing-md);
	color: var(--mantine-color-text);
	text-decoration: none;
	transition: background-color 0.15s;
	white-space: nowrap;

	&:hover {
		background-color: light-dark(
			var(--mantine-color-gray-1),
			var(--mantine-color-dark-5)
		);
	}
}

.icon {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	color: var(--mantine-color-text);
	opacity: 0.8;
}

.text {
	font-size: var(--mantine-font-size-sm);
}
