.toolbar {
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	min-height: 56px;
}

.title {
	@media (max-width: 36em) {
		display: none;
	}
}
