.titleBlock {
	position: relative;
	padding-left: 18px;
}

.titleBlock::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 4px;
	border-radius: var(--mantine-radius-xl);
	background: var(--mantine-primary-color-filled);
	content: '';
}

.pricePanel {
	text-align: end;
}
