.item {
	transition:
		transform 0.2s ease,
		background-color 0.2s ease;
	padding: var(--mantine-spacing-md);
	border-radius: var(--mantine-radius-md);
}

.item:hover {
	transform: translateX(10px);
	background-color: light-dark(
		var(--mantine-color-gray-0),
		var(--mantine-color-dark-6)
	);
}
